---
title: "How I transitioned from frontend to UX"
author: Annabel Dunstone Gray
author_gitlab: annabeldunstone
author_twitter: annabeldunstone
categories: culture
image_title: /images/blogimages/frontendux.jpg
description: "One GitLab team-member shares how switching from a frontend engineer to a UX designer has been a rewarding experience."
tags: UX, frontend, careers, inside GitLab
twitter_text: "Discover how @annabeldunstone transitioned from frontend engineer to UX designer"
postType: content marketing
---

When I joined GitLab over two and a half years ago as a frontend engineer, I brought with
me a background in photography and an interest in art and design. In my last year
of university, I worked at an art museum, and I’ve always gravitated towards the
more design-y aspects of frontend. For each release, my assigned deliverables
were usually focused on redesigns, and while I enjoy that type of work, what I
really wanted to do was to help shape the look and feel of GitLab, rather than
implementing the designs of others.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

## Making the first move

At GitLab, we're lucky to have the opportunity to [transfer](/handbook/people-operations/promotions-transfers/#department-transfers)
to a different department, if our interests or career goals change. I spoke with
my frontend manager about my passions and shared my desire to start learning and
working with the UX team. I then spoke with [Sarrah](/company/team/#SVesselov),
the UX Manager, about the next steps, and I started working through online
tutorials, getting up to speed on Sketch, and attending the UX weekly calls.
Once I acquired the necessary technical skills, I joined the [Plan](/direction/#plan)
team, which is focused mostly on the prioritization of ideas, allocation of
resources, scheduling, and tracking. It’s an area I’m really excited about, and
we’re working on some incredibly useful management features (like [improved issue boards](https://gitlab.com/gitlab-org/gitlab-ce/issues/48847), [sub-epics](https://gitlab.com/gitlab-org/gitlab-ee/issues/7327), and [value stream management](https://gitlab.com/groups/gitlab-org/-/epics/229)) that will help make
GitLab an even more powerful tool.

As a frontend engineer, I was fortunate to have developed many transferable
skills which helped me tackle this new challenge. Attention to detail is one
skill that has been particularly useful when working on a new feature. Since
I’m new to UX, I’ve found it really helpful to have a technical background,
especially considering that GitLab is such a technical product.

## Advice to others

![Me and my daughter attending a frontend meeting.](/images/blogimages/annabelandbaby.jpg){:.shadow.small.right.wrap-text}

If you’re interested in making a similar transition, I encourage you to speak
with your manager. I wish I’d done so sooner. I discussed my interests early
last year, but after having a baby, I had this idea that I
should stay in my current role, as I would never have time to learn a whole new
practice. While I definitely don’t have any free time (I don’t know if you’ve
heard – babies are quite time consuming), I’m so happy to be on the UX team, even
though I have a lot of catching up to do. Everyone in both frontend and UX has
been incredibly supportive of my switching teams, and I’m learning a lot as I go
along. For now, I’ve got the best of both worlds – 50 percent of my time is focused on
styling-related frontend issues and reviewing the CSS in merge requests, while
the other 50 percent is working on UX issues.

By the way, we're hiring for loads of positions, across the company – [check out our current job openings](/jobs/apply/).

[Cover image](https://unsplash.com/photos/aLGiPJ4XRO4) by [Bharath](https://unsplash.com/@xen0m0rph), licensed under [CC X](https://unsplash.com/license).
{: .note}
